<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
</style>

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: 'Raleway'
}

.login-box {
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: %50;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
